body {
    padding: 0;
    margin: 0;
    background-color: #D2E1F1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 497px;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    @media (max-width: 600px) {
        height: 398px;
        width: 256px;
    }

    .qr-code-wrapper {
        margin-top: 16px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 288px;
        width: 288px;
        background-image: url("./images/image-qr-code.png");
        @media (max-width: 600px) {
            height: 230px;
            width: 230px;
        }

        #qr-code {
            height: 200px;
            width: 200px;
            @media (max-width: 600px) {
                height: 160px;
                width: 160px;
            }

        }
    }

    .text-wrapper {
        padding: 0 40px;

        & > p {
            text-align: center;

            &.bold {
                font-weight: 700;
                font-size: 22px;
                @media (max-width: 600px) {
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            &.regular {
                font-weight: 400;
                font-size: 16px;
                @media (max-width: 600px) {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
